body {
    font-family: sans-serif;
}

h1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: .5px solid black;
    color: white;
    padding: 20px;
}

input {
    background-color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 6px;
}
